html {
  height: 100%;
  width: 100%;
h1{color:navy; font-size:40px;}
h1{font-family:'Courier New', Courier, monospace; font-size:40px;}
p3{color:#000099;  font-size:17px}
p4{font-family:cursive;font-size:17px;}
p4{color:#445f44; font-size: 17px;}
background-color: #c7e6e4;
  h2{color:navy; font-size:40px;}
  h2{font-family:'Courier New', Courier, monospace; font-size:35px;}
